@using WebTravelMVC.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Common/Views/Shared/_LayoutCommon.cshtml";
}
@{
    IEnumerable<BaiViet> listBaiVietNoiBat = ViewBag.NoiBat as IEnumerable<BaiViet>;
    IEnumerable<BaiViet> listBaiViet = ViewBag.DoanhNghiepvaLuHanh as IEnumerable<BaiViet>;
}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>10 ĐIỂM ĐẾN ĐẸP VÀ NHỮNG ĐẶT SẢN NGON</h4>
                            <span>Đến Lai Châu là đến những đỉnh núi đẹp hùng vĩ của đất nước, nơi đây có hơn 20 dân tộc sinh sống nên có rất nhiều nét khác biệt về văn hóa nơi đây</span>
                            <div class="main-border-button">
                                <a href="~/Common/BaiViet/XemChiTiet?iMaBaiViet=6">Xem Thêm</a>
                            </div>
                        </div>
                        <img style="width:730px; height:628px" src="~/Assets/images/canh-dong-muon-than.jpg" />
                    </div>
                </div>
            </div>
            <!-- #region Bài mới -->
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <!-- #region Bài viết mới -->
                        @Html.Action("BaiVietMoi_Par", "Partialview")
                        <!-- #endregion -->
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>NHỮNG ĐIỂM ĐẾN HẤP DẪN</h2>
                    <span>Những địa điểm được nhiều du khách ghé thăm</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        @foreach (var item in listBaiVietNoiBat)
                        {
                            <div class="item">
                                <div class="thumb">
                                    <img style="width:350px; height:300px" src="~/Assets/images/@item.AnhBia" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>@item.TenBaiViet</h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area Ends ***** -->
<!-- ***** Women Area Starts ***** -->
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>DOANH NGHIỆP VÀ LỮ HÀNH</h2>
                    <span>Đừng bỏ lỡ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">
                        @foreach (var item in listBaiViet)
                        {
                            <div class="item">
                                <div class="thumb">
                                    <img style="width:350px; height:300px" src="~/Assets/images/@item.AnhBia" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>@item.TenBaiViet</h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Women Area Ends ***** -->
<!-- ***** Kids Area Starts ***** -->
<section class="section" id="kids" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Kid's Latest</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Assets/images/kid-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>School Collection</h4>
                                <span>$80.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Assets/images/kid-02.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Summer Cap</h4>
                                <span>$12.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Assets/images/kid-03.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Classic Kid</h4>
                                <span>$30.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/Assets/images/kid-01.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Classic Spring</h4>
                                <span>$120.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Kids Area Ends ***** -->
<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>LAI CHÂU</h2>
                    <span>Không nổi tiếng như Sapa, Mộc Châu, Hà Giang đón hàng ngàn khách du lịch mỗi năm, Lai Châu mang trong mình vẻ đẹp tiềm ẩn của miền sơn cước cuối trời, nơi những dãy núi cao chót vót với điệu múa của đồng bào người Hmong, người Mảng, người Si La…</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>ngày anh về với Lai Châu, Bức tranh huyền ảo sắc màu gieo thơ, Tấm lòng ở bản Sìn Hồ, Giao duyên,men rượu…lòng mơ mộng nhiều</p>
                    </div>
                    <p>
                        Lai Châu, mảnh đất góp phần tạo nên sự quyến rũ bí ẩn, vẻ đẹp hùng vĩ nguyên sơ nơi ven trời Tây Bắc. Núi non trùng điệp quấn quýt mây bay, những rừng cây rậm rạp hoang vu, những con suối vừa hiền hòa vừa dữ dội len lỏi giữa các khe đá bên khúc nhạc rừng bất tận. Cùng với đó là sắc màu của các tộc người thiểu số với nhiều phong tục lạ trong đời sống đã tạo nên một Lai Châu đầy bí ẩn và cuốn hút với những câu chuyện truyền thuyết lưu truyền xuyên suốt các thế hệ.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/Assets/images/4.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/Assets/images/3.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/Assets/images/2.png" alt="">
                            </div>
                        </div>
                        <div class="second-image">
                            <img src="~/Assets/images/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->
<!-- ***** Social Area Starts ***** -->
<section class="section" id="social" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>ảNH gÂ</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Fashion</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/Assets/images/instagram-01.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>New</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/Assets/images/instagram-02.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Brand</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/Assets/images/instagram-03.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Makeup</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/Assets/images/instagram-04.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Leather</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/Assets/images/instagram-05.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Bag</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/Assets/images/instagram-06.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>Nhận thông tin thông báo</h2>
                    <span>Nhập địa chỉ Email của bạn. Hệ thống sẽ thông báo khi có bài viết mới</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Địa chỉ Email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Address:<br><span>TP. Lai Châu</span></li>
                            <li>Phone:<br><span>054 3222-222</span></li>
                            <li>:<br><span>North Miami Beach</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Giờ làm việc:<br><span>07:30 AM - 17:30</span></li>
                            <li>Email:<br><span>LaiChau@company.com</span></li>
                            <li>Website:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->